/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;

}

/* ------------------------------
   HERO SECTION (Không gồm navbar)
--------------------------------*/
.home-container {
  width: 100%;
}

.background-image {
  width: 100%;
  height: 90vh;
  background-image: url('@/assets/background1.png');
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 80px;
  padding-top: 120px;
}

.background-image::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* gradient giống 100% ảnh mẫu */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 40%, #1E3B27 100%);
}

.overlay-content {
  position: relative;
  z-index: 2;
  left: 40px;top: 350px
}

.main-title {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 25px;
  color: white;
}

/* nút Order now */
.url-input button {
  background: transparent !important;
  border: 1px solid white !important;
  color: white !important;
  padding: 15px 30px !important;
  border-radius: 5px !important;
  font-size: 16px;
  text-align: center
}
.url-input button:hover {
  background: #ffffff26 !important;
}

/* ------------------------------
   PRODUCT LIST SECTION
--------------------------------*/
.product {
  width: 100%;
  color: white;
}

.background-product {
  background-color: #1E3B27;
  padding: 40px 80px;
}

.background-product h1 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 30px;
}

/* GRID PRODUCTS */
.list.product {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* giống ảnh */
  gap: 40px;
}

/* CARD */
.product-card {
  background-color: #244F33;
  border-radius: 10px;
  padding: 15px;
  text-align: left;
  color: white;
}

.product-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.product-card .name {
  margin-top: 12px;
  font-size: 17px;
  color: white;
}

.product-card .price {
  margin-top: 5px;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

/* sd */